.sidebar {
    position: fixed;
    top: 0;
    right: -340px;
    background-color: beige;
    width: 300px;
    height: 100vh;
    padding: 20px;
    transition: right 1s ease;
}

.sidebar.open {
    right: 0;
}

.main {
    transition: padding-right 1s ease;
    padding-right: 0px;
}

.main.shifted {
    padding-right: 340px;
    /* transition: all 1s ease; */
}

.sidebar-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    background-color: rgb(211, 226, 230);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
